/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* VARIABLE CSS */
@import "tailwindcss";
:root {
  --header-height: 3rem;

  /* Colors */

  --hue-color: 206;
  --black-color: hsl(var(--hue-color), 4%, 4%);
  --black-color-alt: hsl(var(--hue-color), 4%, 8%);
  --title-color: hsl(var(--hue-color), 4%, 95%);
  --text-color: hsl(var(--hue-color), 4%, 75%);
  --text-color-light: hsl(var(--hue-color), 4%, 65%);
  --white-color: #fff;
  --body-color: hsl(var(--hue-color), 4%, 6%);
  --container-color: hsl(var(--hue-color), 4%, 10%);
  --text-gradient: linear-gradient(
    hsl(var(--hue-color), 4%, 24%),
    hsl(var(--hue-color), 4%, 8%)
  );
  --scroll-thumb-color: hsl(var(--hue-color), 4%, 16%);
  --scroll-thumb-color-alt: hsl(var(--hue-color), 4%, 20%);

  /* FONT AND TYPOGRAPHY */

  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 5rem;
  --bigger-font-size: 3.5rem;
  --big-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --text-line-height: 2rem;

  /* FONT WEIGHT */
  --font-medium: 500;
  --font-semibold: 600;

  /* MARGENES BOTTOM */
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /* Z INDEX */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* RESPONSIVE TYPOGRAPHY */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 7.5rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 4rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --o-animation-direction: alternate-reverse;
  }
}
/* BASE */
* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 100%;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  justify-content: center;
}
.project-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  background-color: var(--container-color);
  border-radius: 1rem;
  padding: var(--mb-2);
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(10, 27, 48, 0.1);
  transition: background-color 0.3s ease;
  box-sizing: border-box;

  width: 100%;
}
.project-card:hover {
  background-color: var(--black-color-alt);
  transition: transform 0.3s ease;
  transform: scale(1.02);
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 20px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
  color: #333;
  text-decoration: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  font-size: 18px;
  transition: all 0.3s ease;
}

.social-icon:hover {
  background-color: #4f46e5;
  color: #fff;
  transform: scale(1.1);
}

/* Optional: platform-specific colors */
.social-icon.facebook:hover {
  background-color: #1877f2;
}
.social-icon.whatsapp:hover {
  background-color: #0cf158;
}
.social-icon.instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: #fff;
}
.social-icon.linkedin:hover {
  background-color: #0077b5;
}
